:root {
  --header-color: #0073aa;
  --footer-color: #000;
  --content-color: #f4f4f4;
  --sidebar-color: #f8f8f8;
}

.container {
  width: 960px;
  margin: 0 auto;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}


.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-header {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}
