:root {
  --primary-color: #23272d;
  --second-color: #4eb1eb;
  --third-color: #909090;
  --primary-text-color: #edeeee;
}

#header {
  background-color: var(--primary-color);
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2.8rem;
}

.form-search {
  position: relative;
  font-size: 1.4rem;
}

.search {
  width: 24.7rem;
  height: 4.1rem;
  border: none;
  background-color: #131518;
  color: #a2a1a1;
  padding-left: 1.4rem;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: none;
  border: none;
}
input[type="text"]:focus:hover {
  outline: none;
  box-shadow: none;
  border: none;
  border-radius: 0;
}

.btn-search {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  border: 0;
  padding: 0 1.3rem;
  background-color: #131518;
  color: #a2a1a1;
}

.navbar {
  padding: 0.9rem 0;
}

.navbar-list {
  border-right: 1rem solid red;
}

.navbar-item:hover a.navbar-link {
  color: var(--second-color);
  transition: all 0.2s linear;
}

.navbar-item a.navbar-link {
  display: inline-block;
  padding: 1.2rem 4.2rem 0.8rem 0;
  color: var(--primary-text-color);
}

#hot-new {
  margin-top: 3.4rem;
}

.new-heading {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 400;
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  padding: 0.7rem 1.4rem;
  line-height: 1;
  margin-bottom: 2rem;
}

ul.new-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -3rem;
  margin-bottom: 3.3rem;
}

li.new-item {
  flex-basis: calc(33.33% - 3rem);
  margin-left: 3rem;
}

.post-thum {
  margin-bottom: 2rem;
}

.context {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #5f5e5e;
  line-height: 1.2;
}

.widget {
  padding-top: 2.1rem;
  border-top: 1px solid #dadada;
  display: flex;
  justify-content: space-between;
}

.widget-content {
  flex-basis: 75.2rem;
}

.widget-sidebar {
  flex-basis: 36.3rem;
}

.widget-heading {
  border-bottom: 2px solid var(--second-color);
  margin-bottom: 3.1rem;
}

.widget-heading-text {
  padding: 0.5rem 1.5rem;
  display: inline-block;
  background-color: var(--second-color);
  color: white;
  text-transform: uppercase;
  line-height: 1.1;
}

.post-list {
}

li.post-item {
  display: flex;
  margin-bottom: 4rem;
  flex-wrap: wrap;
  cursor: pointer;
}

.post-thumb {
  flex-basis: 263px;
  margin-right: 3rem;
}

.post-content {
  flex-basis: calc(100% - 3rem - 263px);
}

.post-content .title {
  color: #111111;
  font-weight: 500;
  line-height: 1.2;
  font-size: 2.1rem;
  text-align: justify;
  margin-bottom: 8px;
}

.post-item:hover .title {
  color: var(--second-color);
}

.post-content .post-detail {
  font-size: 11px;
  margin: 9px 0;
}

.post-content .post-detail .author {
  color: #111111;
  display: inline-block;
  margin-right: 1rem;
  font-weight: 700;
}

.post-content .post-detail .date {
  color: #abaaaa;
}

.post-content .post-excerpt {
  font-size: 13px;
  color: #777777;
  margin-top: 7px;
}

.widget-sidebar .ads {
  background-image: url(../images/bg-code.png) linear-gradient(to right, #000000);
  position: relative;
  text-align: center;
}

.widget-sidebar .ads::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.widget-sidebar .ads .ads-heading {
  font-size: 28px;
  text-transform: uppercase;
  color: #f05510;
  line-height: normal;
  font-weight: bold;
}

.widget-sidebar .ads .ads-detail{
  font-size: 13px;
  font-weight: 400;

}

/* .widget-sidebar .ads .ads-heading::before {
  content: "html css 21 ngay";
  position: absolute;
  font-size: 28px;
  text-transform: uppercase;
  color: #f05510;
  line-height: normal;
  font-weight: bold;
  left: 50%;
  transform: translateX(-50%);
} */
