:root {
  --primary-color: #23272d;
  --second-color: #4eb1eb;
  --third-color: #909090;
}

#header {
  background-color: var(--primary-color);
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2.8rem;
}

.search{
    
}
