:root {
  --primary-color: #23272d;
  --second-color: #4eb1eb;
}

#header {
  background-color: var(--primary-color)
}

.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.8rem;
}
