@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

form {
  display: inline-block;
}

.product-hot {
  margin-top: 5rem;
  &__heading {
    font-size: 34px;
    color: #000000;
    font-weight: lighter;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 5.8rem;
    position: relative;
    &-text {
      display: inline-block;
      background-color: white;
      padding: 0 2rem;
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include size(50%, 2px);
        background-color: #000000;
        z-index: -2;
      }
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    position: relative;
    font-size: 18px;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(-50%, -50%);
      @include size(5.5rem);
      border-radius: 50%;
      background-color: #e2868c;
      //   color:white;
      //   text-align: center;
      //   align-content: center;
    }
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(50%, -50%);
      @include size(5.5rem);
      border-radius: 50%;
      background-color: #e2868c;
    }
  }
  &__item {
    flex: 1 1 calc(100% / 4 - 1.2rem);
    border: 1px solid #c9c9c9;
    &:not(:first-child) {
      margin-left: 1.2rem;
    }
  }
  &__image {
    border-bottom: 1px solid #c9c9c9;
    margin-bottom: 1.5rem;
  }
  &__name {
    color: #212221;
    margin-bottom: 2rem;
  }
  &__price {
    margin-bottom: 2rem;
    &-new {
      font-weight: bold;
      color: #b74852;
      margin-right: 1rem;
    }
    &-old {
      color: #8c8c8c;
    }
  }
  &__add {
    padding: 1.5rem 5rem;
    outline: none;
    border: none;
    text-transform: uppercase;
    color: #444343;
    background-color: #eeeeee;
    border-radius: 2rem;
    font-weight: bold;
    margin-bottom: 2.1rem;
    transition: all 0.2s ease-in;
    &:hover {
      background-color: #b74852;
      color: white;
    }
  }
}
