html {
  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 117rem;
  padding: 0 1.5rem;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}
